<div class="widget gridalicious-item not-responsive">
    <a href=""><img src="../assets/images/photodune-6374531-at-celebration-xs.jpg" alt="" class="img-responsive"></a>
    <!-- Info -->
    <div class="bg-primary">
        <div class="innerAll">
            <a href="#" class="pull-right innerT innerR text-white"><i class="icon-reply-all-fill fa fa-2x "></i></a>
            <div class="innerAll">
                <a href="" class="text-white text-medium">Fun Party in Rome </a>
                <span class="display-block">on 15th January, 2014</span>
            </div>
        </div>
    </div>

    <!-- Comment -->
    <div class="bg-gray border-bottom innerAll text-small ">
        <span>View all <a href="" class="strong text-primary">1 Comment</a></span>
    </div>

    <!-- First Comment -->
    <div class="media margin-none bg-gray">
        <a href="" class="pull-left innerAll">
            <img src="../assets/images/people/50/12.jpg" width="50" class="media-object">
        </a>
        <div class="media-body innerTB">
            <a href="#" class="pull-right innerT innerR text-muted">
                <i class="icon-reply-all-fill fa fa-2x "></i>
            </a>
            <a href="" class="strong text-inverse">Adrian Demian</a> 	<small class="text-muted display-block ">on Jan 15th, 2014</small>
            <div>- Happy B-Day!</div>
            <a href="" class="text-small">mark it</a>

        </div>
    </div>
    <div class="input-group comment">
        <input type="text" class="form-control" placeholder="Your comment here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
        </div>
    </div>
</div>
