
@{
    ViewBag.Title = "Welcome to Footprints CMS System";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="clearfix"></div>
<div style="padding-top: 70px; padding-left: 30px;">
    <h2>Welcome to Footprints CMS System</h2>
</div>


