<li class="active">
    <div class="separator bottom">
        <span class="date box-generic">Now</span>
        <span class="type glyphicons suitcase">Task <i></i><span class="time">08:00</span></span>
        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle fa-fw"></i> Add event</button>
    </div>
    <div class="widget widget-heading-simple widget-body-white margin-none">
        <div class="widget-body">
            <div class="media">
                <div class="media-object pull-left thumb"><img src="../assets//images/avatar-51x51.jpg" alt="Image" /></div>
                <div class="media-body">
                    <a class="author">Adrian Demian</a><br />
                    <span class="muted">adrian@ennovation.ie</span>
                </div>
            </div>
            <div class="alert alert-gray">
                <p class="glyphicons circle_info margin-none"><i></i> Added a new milestone named <a href="">MosaicPro</a></p>
            </div>
            <a class="glyphicons single pencil"><i></i></a>
        </div>
    </div>
</li>
