<li class="active">
    <span class="type glyphicons comments">Comment <i></i><span class="time">11:00</span></span>
    <div class="widget widget-heading-simple widget-body-white margin-none">
        <div class="widget-body">
            <p class="glyphicons user margin-none"><i></i> <strong><a href="">MosaicPro</a> said</strong>: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an ...</p>
        </div>
    </div>
</li>
