@model Footprints.ViewModels.AddPhotoWidgetViewModel
@using Footprints.Common

<li class="active">
    <div class="separator">        
        <span class="type glyphicons picture">Photo <i></i><span class="time">@Model.Timestamp.ToStringShort()</span></span>
    </div>
    <div class="widget widget-heading-simple widget-body-white margin-none">
        <div class="widget-body">
            <div class="media">
                <div class="media-object pull-left thumb"><img src="@Model.ProfilePicURL" style="width:51px !important" alt="Image" /></div>
                <div class="media-body">
                    <a class="author">@Model.UserName</a><br />
                    <span class="muted">something</span>
                </div>
            </div>
            <div class="alert alert-gray">
                <p class="glyphicons circle_info"><i></i> Added photos to the destination <a href="">@Model.DestinationName</a></p>

                <!-- Gallery Layout -->
                <div class="gallery gallery-2 separator top">
                    <ul class="row" data-toggle="modal-gallery" data-target="#modal-gallery" id="gallery-4" data-delegate="#gallery-4">                        
                            <li class="col-md-4 hidden-phone"><a class="thumb" href="../assets/images/gallery-2/6.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/6.jpg" alt="photo" class="img-responsive" /></a></li>
                            <li class="col-md-4 hidden-phone"><a class="thumb" href="../assets/images/gallery-2/5.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/5.jpg" alt="photo" class="img-responsive" /></a></li>
                            <li class="col-md-4 hidden-phone"><a class="thumb" href="../assets/images/gallery-2/4.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/4.jpg" alt="photo" class="img-responsive" /></a></li>
                            <li class="col-md-4"><a class="thumb" href="../assets/images/gallery-2/3.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/3.jpg" alt="photo" class="img-responsive" /></a></li>
                            <li class="col-md-4"><a class="thumb" href="../assets/images/gallery-2/2.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/2.jpg" alt="photo" class="img-responsive" /></a></li>
                            <li class="col-md-4"><a class="thumb" href="../assets/images/gallery-2/1.jpg" data-gallery="gallery"><img src="../assets/images/gallery-2/1.jpg" alt="photo" class="img-responsive" /></a></li>                        
                    </ul>
                </div>
                <!-- // Gallery Layout END -->

            </div>
            @*<a class="glyphicons single picture"><i></i></a>*@
        </div>
    </div>
</li>
