@*@model Footprints.ViewModels.AddCommentFormViewModel
@using (Ajax.BeginForm("Comment", new { controller = "Destination" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "addComment", OnBegin = "validateAddCommentForm" }, new { id = "add-comment-form-" + ViewBag.DestinationID }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("DestinationID", (object)ViewBag.DestinationID)
    <div class="form-group">
        @Html.TextArea("Content", null, new { name = "message", id = "comment-input-" + @ViewBag.DestinationID, @class = "form-control input-sm autoheight", placeholder = "Comment here ...", rows = "1", style = "resize:none;" })
        <input type="submit" class="btn btn-xs btn-primary pull-right" value="Done" />
    </div>
}*@
