
<div class="row">
    <div class="col-md-10 col-sm-8">
        <ul class="list-group social-comments margin-none">
            <li class="list-group-item innerAll">
                <input type="text" name="message" class="form-control input-sm" placeholder="Comment here ..." />
            </li>
            <li class="list-group-item">
                <img src="../assets/images/avatar-36x36.jpg" alt="Avatar" class="pull-left" />
                <div class="user-info">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="">Adrian Demian</a>
                            <abbr>4 days ago</abbr>
                        </div>
                        <div class="col-md-9">
                            <span> Wow... nice post</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <img src="../assets/images/avatar-36x36.jpg" alt="Avatar" class="pull-left">
                <div class="user-info">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="">Adrian Demian</a>
                            <abbr>4 days ago</abbr>
                        </div>
                        <div class="col-md-9">
                            <span> Wow... nice post</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>