@model Footprints.ViewModels.DestinationViewModel

<div class="widget">
    <div class="widget-body">
        @*<button class="pull-right btn btn-default btn-sm"><i class="fa fa-fw fa-edit"></i> Edit</button>*@
        <div class="pull-right media-body innerLR">
            <h3 class="media-heading strong">
                @*Chuyến đi đến Đà Nẵng*@@Model.Name
            </h3>
            <p>
                <h5 class="text-muted" style="margin-bottom:0px !important">@*2 ngày trước*@@Model.TimeAgo</h5><br />
                <a data-toggle="modal" href="#edit-destination-modal">
                    <span class="btn btn-default no-margin">
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                    </span>
                </a>
                <a href="#delete-destination-modal" data-toggle="modal">
                    <span class="btn btn-default no-margin">
                        <i class="glyphicon glyphicon-remove"></i> Delete
                    </span>
                </a>
            </p>
        </div>

        <img src="../assets/images/people/250/2.jpg" class="thumb pull-left" alt="" width="100">
        <div class="media-body innerLR innerT">
            <h3 class="media-heading strong">@*Trịnh Thành Nhân*@@Model.AuthorName</h3>
            <p>
                <span class="label label-info">@Model.NumberOfJourneys Journeys</span><br />
                <span class="label label-danger">@Model.NumberOfDestinations Destinations</span><br />
                <span class="label label-success">@Model.NumberOfFriends Friends</span>
            </p>
        </div>

        <div class="row innerT">
            <div class="col-sm-10 col-sm-offset-1 border-top">
                <div class="panel-group accordion accordion-2" style="border:none !important" id="tabAccountAccordion">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="border:none !important">
                            <center><h4 class="panel-title text-danger strong"><a class="accordion-toggle" data-toggle="collapse" data-parent="#tabAccountAccordion" href="#collapse-1-1">Description</a></h4></center>
                        </div>
                        <div id="collapse-1-1" class="panel-collapse collapse">
                            <div class="panel-body" style="border:none !important">
                                <p class="innerT">@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
