@model Footprints.ViewModels.DestinationViewModel
@using Footprints.ViewModels
<div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">
    <div class="widget-body">
        <div class="tab-content">
            <!-- Tab content -->
            <div class="tab-pane active" id="tab-map">
                <div id="google-map-container-destinations" style="height: 200px; width: 100%">
                    <div id="map-canvas-destinations" class="map-canvas"></div>
                </div>
            </div>
            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab-gallery">
                @if ((bool)TempData["IsAuthor"])
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" href="#add-photo-form"><i class="fa fa-plus-circle"></i> Add Photo</a></h4>
                        </div>
                        <div id="add-photo-form" class="panel-collapse collapse">
                            <div class="panel-body">
                                @{Html.RenderPartial("UploadPhotoForm", new PhotoUploadFormViewModel { ActionName = "AddNewPhoto", ControllerName = "Destination", DestinationID = Model.DestinationID, DisplaySlide = false });}
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Contents != null && Model.Contents.Count() > 0)
                {
                    <div class="widget widget-gallery" data-toggle="collapse-widget" style="max-height: 320px; overflow: auto;" id="widget-gallery-area">
                        <div class="widget-body">
                            <div class="gallery gallery-2">
                                <ul class="row">
                                    @{Html.RenderPartial("PhotoList", Model.Contents);}
                                    <li style="display:none" id="emty-last-image"></li>
                                </ul>
                                <div class="innerAll inner-2x loading text-center text-medium" id="loadingDiv"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</div>
                            </div>
                        </div>
                    </div>
                    <!-- Blueimp Gallery -->
                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev no-ajaxify">‹</a>
                        <a class="next no-ajaxify">›</a>
                        <a class="close no-ajaxify">×</a>
                        <a class="play-pause no-ajaxify"></a>
                        <ol class="indicator"></ol>
                    </div>
                    <!-- // Blueimp Gallery END -->
                }
            </div>
            <!-- // Tab content END -->
        </div>
    </div>

    <!-- Tabs Heading -->
    <div class="widget-head" style="border-top: 1px solid #efefef; border-bottom:none !important">
        <ul>
            <li class="active">
                <a href="#tab-map" class="glyphicons google_maps" data-toggle="tab"><i></i><span class="strong">Maps</span><span>Pin location</span></a>
            </li>
            <li>
                <a href="#tab-gallery" class="glyphicons picture" data-toggle="tab"><i></i><span class="strong">Images</span><span>Captured</span></a>
            </li>
        </ul>

        <div class="innerAll pull-right">
            <a href="#" class="innerLR" id="like-btn">
                @{
                    if (!(bool)TempData["AlreadyLike"])
                    {
                        <i class="fa fa-2x fa-thumbs-o-up"></i> <span>Like</span>
                    }
                    else
                    {
                        <i class="fa fa-2x fa-thumbs-o-down"></i> <span>Unlike</span>
                    }
                    TempData.Remove("AlreadyLike");
                }
            </a>
            <a href="#" class="innerLR" id="share-btn"><i class="fa fa-2x fa-share-square-o"></i> <span>Share</span></a>
            <a href="#"><i class="fa fa-2x fa-facebook-square"></i> <span>Facebook</span></a>
        </div>
    </div>
    <!-- // Tabs Heading END -->
</div>
@{
    if ((bool)TempData["IsAuthor"])
    {
        <script type="text/javascript">
            var SetupDeletePhotoForm = (function () {
                return {
                    init: function () {
                    },
                    displayPopUpWindow: function (ContentID) {
                        document.forms['frmDeletePhoto'].elements["ContentID"].value = ContentID;
                        $('#delete-photo-modal').modal('show');
                    }
                };
            })();
            $(function () {
                SetupDeletePhotoForm.init();
            });
            $('li[id^="Content-"]').mouseover(function () {
                $(this).find('div.icon-edit.pull-right').show();
            });
            $('li[id^="Content-"]').mouseout(function () {
                $(this).find('.icon-edit.pull-right').hide();
            });
        </script>
    }
    TempData.Remove("IsAuthor");
}
<script type="text/javascript">
    var photoBlockNumber = 1;
    var NoMoreData = false;
    var inProgress = false;
    var widgetGalleryArea = $('#widget-gallery-area');

    $('#widget-gallery-area').scroll(function () {
        if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight && !NoMoreData && !inProgress) {
            inProgress = true;
            $("#loadingDiv").show();

            $.post("@Url.Action("LazyLoadGallery", "Destination")", { "BlockNumber": photoBlockNumber, "destinationID": "@Model.DestinationID" },
            function (data) {
                photoBlockNumber++;
                NoMoreData = data.NoMoreData;
                $('#emty-last-image').before(data.HTMLString);
                if (data.PhotoList != null && data.PhotoList.length > 0) {
                    $.each(data.PhotoList, function (k, id) {
                        $('#Content-' + id.toString()).find('img[class="img-responsive"]').resizecrop({
                            width: imageContainerWidth,
                            height: imageContainerWidth,
                            vertical: "top"
                        })
                    });
                }
                $("#loadingDiv").hide();
                inProgress = false;
            });
        }
    });
</script>