<div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">

    <div class="widget-body">
        <div class="tab-content">
            <!-- Tab content -->
            <div class="tab-pane active" id="tab1-2">
                <h4>First tab</h4>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
            <!-- // Tab content END -->
            <!-- Tab content -->
            <div class="tab-pane" id="tab2-2">
                <h4>Second tab</h4>
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </div>
            <!-- // Tab content END -->
        </div>
    </div>

    <!-- Tabs Heading -->
    <div class="widget-head" style="border-top: 1px solid #efefef; border-bottom:none !important">
        <ul>
            <li class="active">
                <a href="#tab1-2" class="glyphicons google_maps" data-toggle="tab"><i></i><span class="strong">Maps</span><span>Pin location</span></a>
            </li>
            <li>
                <a href="#tab2-2" class="glyphicons picture" data-toggle="tab"><i></i><span class="strong">Images</span><span>Captured</span></a>
            </li>
        </ul>

        <div class="innerAll pull-right">
            <a href="#" class="innerLR"><i class="fa fa-2x fa-thumbs-o-up"></i> <span>Like</span></a>
            <a href="#" class="innerLR"><i class="fa fa-2x fa-share-square-o"></i> <span>Share</span></a>
            <a href="#"><i class="fa fa-2x fa-facebook-square"></i> <span>Facebook</span></a>
        </div>
    </div>
    <!-- // Tabs Heading END -->
</div>
