@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="inner-all">
        <div class="row">

            @*Main Area*@

            <div class="col-lg-9 col-md-8">

                <!-- Tabs -->
                <div class="relativeWrap">
                    <div class="widget widget-tabs widget-tabs-double widget-tabs-responsive">

                        <div class="widget-body">
                            <div class="tab-content">
                                <!-- Tab content -->
                                <div class="tab-pane active" id="tab1-2">
                                    <h4>First tab</h4>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                                <!-- // Tab content END -->
                                <!-- Tab content -->
                                <div class="tab-pane" id="tab2-2">
                                    <h4>Second tab</h4>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
                                </div>
                                <!-- // Tab content END -->
                                <!-- Tab content -->
                                <div class="tab-pane" id="tab3-2">
                                    <h4>Third tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices libero vel massa egestas facilisis. Mauris convallis augue nec dolor dignissim vestibulum. Praesent imperdiet elit posuere arcu posuere consectetur. Morbi dignissim eleifend nibh, eget tincidunt nibh dignissim hendrerit. Cras iaculis congue lorem, eget gravida augue vehicula sed. Nam lorem sem, consectetur ac tempus quis, consectetur ut lectus. In bibendum luctus pharetra. Morbi lacinia sem sem. Phasellus quis tellus magna.</p>
                                </div>
                                <!-- // Tab content END -->
                                <!-- Tab content -->
                                <div class="tab-pane" id="tab4-2">
                                    <h4>Fourth tab</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices libero vel massa egestas facilisis. Mauris convallis augue nec dolor dignissim vestibulum. Praesent imperdiet elit posuere arcu posuere consectetur. Morbi dignissim eleifend nibh, eget tincidunt nibh dignissim hendrerit. Cras iaculis congue lorem, eget gravida augue vehicula sed. Nam lorem sem, consectetur ac tempus quis, consectetur ut lectus. In bibendum luctus pharetra. Morbi lacinia sem sem. Phasellus quis tellus magna.</p>
                                </div>
                                <!-- // Tab content END -->
                            </div>
                        </div>

                        <!-- Tabs Heading -->
                        <div class="widget-head" style="border-top: 1px solid #efefef; border-bottom:none !important">
                            <ul>
                                <li class="active">
                                    <a href="#tab1-2" class="glyphicons user" data-toggle="tab"><i></i><span class="strong">Step 1</span><span>Personal details</span></a>
                                </li>
                                <li>
                                    <a href="#tab2-2" class="glyphicons calculator" data-toggle="tab"><i></i><span class="strong">Step 2</span><span>Billing details</span></a>
                                </li>
                                <li>
                                    <a href="#tab3-2" class="glyphicons credit_card" data-toggle="tab"><i></i><span class="strong">Step 3</span><span>Payment</span></a>
                                </li>
                                <li>
                                    <a href="#tab4-2" class="glyphicons circle_ok" data-toggle="tab"><i></i><span class="strong">Step 4</span><span>Confirmation</span></a>
                                </li>
                            </ul>
                        </div>                                                
                        <!-- // Tabs Heading END -->
                    </div>            
                </div>
                <!-- // Tabs END -->

                <div class="widget">
                    <div class="widget-body">
                        <button class="pull-right btn btn-default btn-sm"><i class="fa fa-fw fa-edit"></i> Edit</button>
                        <img src="../assets/images/people/250/2.jpg" class="thumb pull-left" alt="" width="100">
                        <div class="media-body innerLR">
                            <h4 class="media-heading text-large text-primary">Trịnh Thành Nhân</h4>
                            <p>22 Journeys<br />120 Destinations<br /> 200 Friends</p>
                        </div>                        
                        <div class="row innerT">
                            <div class="col-sm-10 col-sm-offset-1 border-top">
                                <p class="innerT">This is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is contentThis is content</p>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            @*Side Area*@
            <div class="col-lg-3 col-md-4">

            </div>
        </div>
    </div>
</div>
