@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    <div class="inner-all">
        <div class="row">

            @*Main Area*@

            <div class="col-lg-9 col-md-8">

                <!-- Tabs -->
                <div class="relativeWrap">
                    @{Html.RenderPartial("DestinationMainContentWidget");}
                </div>
                <!-- // Tabs END -->
                @*description area*@
                @{Html.RenderPartial("DestinationDescriptionWidget");}

                @*comment area*@
                @{Html.RenderPartial("CommentSection");}

                @*Side Area*@
                <div class="col-lg-3 col-md-4">

                </div>
            </div>

            @*Statistic board*@
            <div class="pull-right col-lg-3 col-md-4">
                <ul class="list-group list-group-1 margin-none">
                    <li class="list-group-item active bg-info"><a href="#"><i class="fa fa-user"></i> Stats</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md">13</span><i class="fa fa-thumbs-up"></i> Liked</a></li>
                    <li class="list-group-item"><a href="#"><span class="badge pull-right badge-info hidden-md">2</span><i class="fa fa-share"></i> Shared</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-map-marker"></i> Số 14 ngõ 139 Khương Nam Đống Đa Hà Nội</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
