@model IEnumerable<Footprints.Models.Destination>
@foreach (var item in Model)
{
    <div class="col-lg-6 col-md-6">
        <div class="widget">
            <div class="widget-body padding-none">
                <div class="media border-bottom innerAll margin-none">
                    <div class="media-body">
                        <a class="pull-right innerT innerR text-muted" href="@Url.Action("Index", "Destination", new { destinationID = item.DestinationID})"><i class="fa fa-fw fa-eye fa-2x"></i></a>
                        <i class="fa fa-map-marker fa-2x"></i><a href="@Url.Action("Index", "Destination", new { destinationID = item.DestinationID })" class="text-inverse">@Html.DisplayFor(modelItem => item.Name)</a>
                        <p>on @String.Format("{0:dd MMMM yyyy}", item.TakenDate)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}