@model Footprints.Models.Journey
@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="" alt="...">
            <div class="caption">
                <h4>@Model.Name</h4>
                <p>@Model.Description</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>