@model IList<Footprints.Models.Journey>

@{
    ViewBag.Title = "Journey";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Journey</h2>
<div>
    @foreach (var p in Model)
    {
        @Html.RenderPartial("JourneyPartial", p);
    }
</div>