<div class="widget">
    <div class="innerAll inner-2x border-bottom">
        <div class="row">
            <i class="fa fa-2x fa-search"></i>
            <span>No search results.</span>
        </div>
    </div>
</div>