@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/journey")

<div class="container">
    <div class="innerAll">
        @*Upper Content*@
        <div class="row">
            <div class="timeline-cover">
                <div class="cover image ">
                    <div class="top">
                        <img src="../assets//images/photodune-2755655-party-time-s.jpg" class="img-responsive" />
                    </div>
                </div>
                <div class="widget cover image">
                    <div class="widget-body padding-none margin-none">
                        <div class="innerAll border-right pull-left">
                            <h3 class="margin-none">Adrian Demian</h3>
                            <span>Works at MOSAICPRO</span>
                        </div>
                        <div class="innerAll pull-left">
                            <p class="lead margin-none "> <i class="fa fa-quote-left text-muted fa-fw"></i> What a fun Partyyy</p>
                        </div>
                        <div class="innerAll pull-right">
                            <button class="btn btn-info"><i class="fa fa-thumbs-o-up"></i> Like</button>
                            <button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        @*Time Line Div*@
        <div class="row">
            <div class="col-lg-4 col-md-4">
                @*Stats and Detail*@
                <ul class="list-group list-group-1 margin-none">
                    <li class="list-group-item active"><a href="#"><i class="fa fa-user"></i> Information</a></li>
                    <li class="list-group-item text-center">
                        <a href=""><img src="../assets/images/people/250/22.jpg" width="120" alt="" class="img-circle"></a>
                        <h3 class="strong margin-none innerB">Trịnh Thành Nhân</h3>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right badge-primary hidden-md">13</span><i class="fa fa-map-marker"></i> Destination
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right badge-primary hidden-md">2</span><i class="fa fa-picture-o"></i> Gallery
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="badge pull-right badge-primary hidden-md">2</span><i class="fa fa-thumbs-o-up"></i> Liked
                        </a>
                    </li>
                    <li class="list-group-item border-bottom-none">
                        <span class="badge pull-right badge-primary hidden-md">2</span>
                        <a href="#"><i class="fa fa-share-square-o"></i> Shared</a>
                    </li>
                </ul>
                @*End Stats and Detail*@
            </div>

            <div class="pull-right col-lg-8 col-md-8">
                @*Time Line*@
                <div class="media">
                    <a href="" class="btn btn-default pull-left">Today</a>
                    <div class="media-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Share your mood...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Search</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>

                <ul class="timeline-activity list-unstyled">

                    <li class="active">
                        <div class="block block-inline">
                            <span class="marker"></span>
                            <div class="caret"></div>
                            <div class="box-generic">
                                <div class="timeline-top-info border-bottom">
                                    <i class="fa fa-user"></i> <a href="" class="text-inverse">mosaicpro</a> replied to <a href="" class="text-info">Having A Great Day!</a> from <a href="#"><img src="../assets/images/people/80/8.jpg" alt="photo" width="20"></a> <a href="">Andrew M.</a>
                                    <div class="timeline-bottom">
                                        <i class="fa fa-clock-o"></i> 2 days ago

                                    </div>
                                </div>
                                <div class="media innerAll  bg-gray margin-none">
                                    <a class="pull-left" href="#"><img src="../assets/images/people/80/8.jpg" alt="photo" class="media-object" width="35"></a>
                                    <div class="media-body">
                                        <a href="" class="strong text-inverse">Andrew</a> Good Job. Congrats and hope to see more admin templates like this in the future.
                                        <div class="timeline-bottom">
                                            <i class="fa fa-clock-o"></i> 2 days ago
                                        </div>
                                    </div>
                                </div>
                                <div class="media innerAll margin-none bg-gray border-top border-bottom">
                                    <a class="pull-left" href="#"><img src="../assets/images/people/80/2.jpg" alt="photo" width="35" class="media-object"></a>
                                    <div class="media-body">
                                        <a href="" class="strong text-inverse">mosaicpro</a> Thanks, I  apreciate it!
                                        <div class="timeline-bottom">
                                            <i class="fa fa-clock-o"></i> 5 days ago
                                        </div>
                                    </div>
                                </div>
                                <div class="innerAll">
                                    <input class="form-control" placeholder="Comment here..." />
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <span class="marker"></span>
                        <div class="block block-inline">
                            <div class="caret"></div>
                            <div class="box-generic">
                                <div class="timeline-top-info">
                                    <i class="fa fa-user"></i>
                                    <a href="" class="text-inverse">mosaicpro</a> visited
                                    <a href="" class="text-info"><i class="fa fa-location-arrow"></i> Dracula's Castle</a>
                                </div>
                                <div class="media margin-none">
                                    <div class="row innerLR innerB">
                                        <div class="col-sm-4 col-lg-3">
                                            <div class="innerT">
                                                <div class="icon-block text-center ">
                                                    <span class="glyphicons tower"><i></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-lg-9">
                                            <div class="innerT">
                                                <h5 class="strong"><a href="">Bran Castle</a></h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, aspernatur ut fuga eum cumque delectus voluptate impedit quaerat sapiente officiis fugit voluptates sit neque quibusdam beatae est modi repudiandae unde.</p>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> 3.5
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-bottom innerT half">
                                <i class="fa fa-clock-o"></i> 2 days ago  <span class="innerL"><i class="fa fa-calendar fa-fw"></i> 25 Oct 2013</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="marker"></span>
                        <div class="block block-inline">
                            <div class="caret"></div>
                            <div class="box-generic">
                                <div class="timeline-top-info">
                                    <i class="fa fa-user"></i> <a href="" class="text-inverse">mosaicpro</a> wrote a <a href="" class="text-info">comment</a> to <a href="#"><img src="../assets/images/people/80/2.jpg" width="20" /></a> <a href="">Jane S.</a>
                                    <div class="timeline-bottom">
                                        <i class="fa fa-clock-o"></i> 6 days ago
                                    </div>
                                </div>
                                <div class="bg-gray innerAll border-top">Good Job. Congrats and hope to see you soon.</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <span class="marker"></span>
                        <div class="block">
                            <div class="caret"></div>
                            <div class="inline-block box-generic">
                                <div class="timeline-top-info bg-gray border-bottom">
                                    <i class="fa fa-user"></i> <a href="" class="text-inverse">mosaicpro</a> is following <a href="#"><img src="../assets/images/people/80/1.jpg" width="20" /></a> <a href="">Jane S.</a>
                                </div>
                                <div class="media innerAll margin-none">
                                    <a class="pull-left" href="#">
                                        <img src="../assets/images/people/80/1.jpg" alt="photo" class="media-object" width="35">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="strong text-inverse">Jane Smith</a>
                                        <a href="" class="clearfix text-info">www.domain.com</a>
                                        <div class="media-icons">
                                            <a href=""><i class="fa fa-clock-o"></i></a>
                                            <a href=""><i class="fa fa-calendar"></i></a>
                                            <a href=""><i class="fa fa-user"></i></a>
                                            <a href=""><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="inline-block box-generic">
                                <div class="timeline-top-info bg-gray border-bottom">
                                    <i class="fa fa-user"></i> <a href="" class="text-inverse">mosaicpro</a> is following <a href="#"><img src="../assets/images/people/80/1.jpg" width="20" /></a> <a href="">Jane S.</a>
                                </div>

                                <div class="media innerAll margin-none ">
                                    <a class="pull-left" href="#">
                                        <img src="../assets/images/people/80/1.jpg" alt="photo" class="media-object" width="35">
                                    </a>
                                    <div class="media-body">
                                        <a href="" class="strong text-inverse">Jane Smith</a>
                                        <a href="" class="clearfix text-info">www.domain.com</a>
                                        <div class="media-icons">
                                            <a href=""><i class="fa fa-clock-o"></i></a>
                                            <a href=""><i class="fa fa-calendar"></i></a>
                                            <a href=""><i class="fa fa-user"></i></a>
                                            <a href=""><i class="fa fa-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="marker"></div>
                        <div class="block block-inline">
                            <div class="caret"></div>
                            <div class="box-generic">
                                <div class="timeline-top-info">
                                    <i class="fa fa-user"></i> <a href="">mosaicpro</a> has uploaded 10 photos in <a href="" class="text-primary"><i class="text-primary fa fa-location-arrow"></i> Album Name #2</a>
                                </div>
                                <div class="innerLR innerB">

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/1.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/2.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/3.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/4.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/5.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/6.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/7.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/8.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/9.jpg" alt="photo" width="35" /></a>

                                    <a href="#" class="thumbnail pull-left border-none"><img src="../assets/images/people/80/10.jpg" alt="photo" width="35" /></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="separator bottom"></div>
                        </div>
                    </li>
                </ul>
                @*End Time Line*@
            </div>
        </div>
        @*End Time Line Div*@
    </div>
</div>
@Scripts.Render("~/script/journey")


