@model Footprints.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    div.main-theme {
        height: 1200px;
        width: 100%;
        position: relative;
        margin-top: -20px;
        /*background: url(https://s3-ap-southeast-1.amazonaws.com/elasticbeanstalk-ap-southeast-1-588205328470/Footprints/images/beach-footprints.jpg) no-repeat center center fixed;*/
        background: url(images/back.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div id="body">
    <!--navbar area-->
    <nav class="navbar navbar-default no-margin" style="border-radius:0 !important" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-sm-1 col-sm-offset-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><b>Footprints</b></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-5 col-sm-offset-1 col-md-8">
                    @*@using (Html.BeginForm("Account", "Login", FormMethod.Post, new { @class = "navbar-form navbar-right form-inline" }))*@
                    @*<form class="navbar-form navbar-right form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>*@
                    @{Html.RenderPartial("LoginPartial");}
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <!--theme area-->
    <div class="main-theme">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h1 style="vertical-align:middle; font-size:4.5em;font-weight:700;color:white">
                        Footprints
                    </h1>
                    <h2 style="color:white"><em>Because life is a journey</em></h2>
                </div>
            </div>
            <div class="row" style="margin-top: 40px">
                <div class="col-md-5 col-md-offset-1 col-lg-3 col-lg-offset-1" style="background: rgba(0, 0, 0, 0.3)">
                    @*<form role="form" style="margin:30px 30px">
                        <h1 style="color:#fff">Register</h1>
                        <hr/>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>          
                        <hr />              
                        <button type="submit" class="btn btn-info">Register now</button>                        
                    </form>*@
                    @{Html.RenderAction("RegisterPartial");}
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/bootstrap")
}