@model Footprints.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div id="body">
    <!--navbar area-->
    <nav class="navbar navbar-default no-margin" style="border-radius:0 !important" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-sm-1 col-sm-offset-1">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><b>Footprints</b></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-sm-5 col-sm-offset-1 col-md-8">
                    <form class="navbar-form navbar-right form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <!--theme area-->
    <div class="main-theme">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h1 style="vertical-align:middle; font-size:4.5em;font-weight:700;">
                        Footprints
                    </h1>
                    <h2 style="color:azure"><em>Because life is a journey</em></h2>
                </div>
            </div>
            <div class="row" style="margin-top:40px">
                <div class="col-md-3 col-md-offset-1">
                    <form role="form">
                        <h1 style="color:purple">Register now for free</h1>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-default">Register now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap")
}