@model Footprints.ViewModels.FriendItemViewModel
<div class="col-md-12 col-lg-6 bg-white border-bottom">
    <div class="row">
        <div class="col-sm-9">
            <div class="media">
                <a class="pull-left margin-none" href="#">
                    <img class="img-clean" src="@Model.ProfilePictureUrl" alt="...">
                </a>
                <div class="media-body innerAll inner-2x padding-right-none padding-bottom-none">
                    <h4 class="media-heading"><a href="" class="text-inverse">@Model.UserName</a></h4>
                    <p>@Model.Time.ToString("dd MMM yyyy")</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="innerAll text-right">
                <div class="btn-group-vertical btn-group-sm">
                    <a href="" class="btn btn-primary">Unfriend</a>
                </div>
            </div>
        </div>
    </div>
</div>