<div class="col-md-4 col-lg-3">

    <div class="widget">
        <div class="widget-body text-center">
            <a href=""><img src="../assets//images/people/250/22.jpg" width="120" alt="" class="img-circle"></a>
            <h2 class="strong margin-none">Adrian Demian</h2>
            <div class="innerB">Working at MOSAICPRO</div>
            <a href="" class="btn btn-primary text-center btn-block">PRO Account</a>
            <div class="btn-group-vertical btn-block">
                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
            </div>
        </div>
    </div>

</div>