@model Footprints.ViewModels.AddPhotoWidgetViewModel

@using Footprints.ViewModels
<div class="widget gridalicious-item not-responsive">
    <!-- Info -->
    <div class="bg-primary">
        <div class="media">
            <a href="" class="pull-left"><img src="@Model.ProfilePicURL" style="width:50px !important;height:50px" class="media-object"></a>
            <div class="media-body innerTB half">
                <a href="#" class="pull-right innerT innerR text-white">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a href="" class="text-white strong display-block">@Model.UserName</a>
                <span>added <a href="" class="text-white strong">Photos</a> on 15th January, 2014</span>
            </div>
        </div>
    </div>
</div>
