<div class="widget gridalicious-item not-responsive">

    <!-- Info -->
    <div class="bg-primary">
        <div class="media">
            <a href="" class="pull-left"><img src="../assets/images/people/50/15.jpg" width="50" class="media-object"></a>
            <div class="media-body innerTB half">
                <a href="#" class="pull-right innerT innerR text-white">
                    <i class="icon-reply-all-fill fa fa-2x "></i>
                </a>
                <a href="" class="text-white strong display-block">Joanne Smith</a>
                <span>on 15th January, 2014</span>

            </div>

        </div>
    </div>

    <!-- Content -->
    <div class="innerAll">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, pariatur!</p>
    </div>

    <!-- Comment -->
    <div class="bg-gray innerAll border-top border-bottom text-small ">
        <span>View all <a href="" class="text-primary">1 Comment</a></span>
    </div>

    <!-- First Comment -->
    <div class="media margin-none bg-gray">
        <a href="" class="pull-left innerAll"><img src="../assets/images/people/50/18.jpg" width="50" class="media-object"></a>
        <div class="media-body innerTB">
            <a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
            <a href="" class="strong text-inverse">Adrian Demian</a> 	<small class="text-muted display-block ">on Jan 15th, 2014</small>			<a href="" class="text-small">mark it</a>
            <div>- Happy B-Day!</div>
        </div>
    </div>

    <div class="input-group comment">
        <input type="text" class="form-control" placeholder="Your comment here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
        </div>
    </div>
</div>
