@model IList<Footprints.ViewModels.CommentViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <div class="layout-app">  -->
<div class="innerAll" style="margin-top:60px">
    <div class=" row">
        <div class="col-lg-12 col-md-12 col-lg-offset-0 col-md-offset-0">
            <div class="gridalicious-row" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">
                <div class="loaded hide2">
                    <!-- Personal Widget -->
                    @{Html.RenderAction("PersonalWidget");}
                    @*End Widget*@
                    <!-- Widget -->
                    @{Html.RenderPartial("JourneyWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("DestinationWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("AddPhotoWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("CommentWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("ShareWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderPartial("WidePictureWidget");}
                    <!-- //End Widget -->
                </div>
                <div class="innerAll inner-2x loading text-center text-medium" id="loadingDiv"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCENqxOk_1aIxTllx-AMHYsaCRdoNQ8fJU">
    </script>
    <script type="text/javascript">
        var BlockNumber = 2;  //Infinate Scroll starts from second block
        var NoMoreData = false;
        var inProgress = false;

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {

                inProgress = true;
                $("#loadingDiv").show();

                $.post("@Url.Action("InfiniteScroll",
            "Newsfeed")", { "BlockNumber": BlockNumber },
                        function (data) {

                            BlockNumber = BlockNumber + 1;
                            NoMoreData = data.NoMoreData;
                            $(".gridalicious-row").gridalicious('append', $.parseHTML(data.HTMLString));
                            $("#loadingDiv").hide();
                            inProgress = false;
                        });
            }
        });

        $(document).ready(
        function () {
            $.ajax({
                type: "GET",
                url: '',
                dataType: "image/jpg",
                success: function (data) {
                    $('#google-map-json').attr('src', data);
                }
            });
        }
        );
    </script>
}