@model IList<Footprints.ViewModels.CommentViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <div class="layout-app">  -->
<div class="innerAll" style="margin-top:60px">
    <div class=" row">
        <div class="col-lg-12 col-md-12 col-lg-offset-0 col-md-offset-0">
            <div class="gridalicious-row" data-toggle="gridalicious" data-gridalicious-width="340" data-gridalicious-gutter="12" data-gridalicious-selector=".gridalicious-item">
                <div class="loaded hide2">
                    <!-- Personal Widget -->
                    @{Html.RenderAction("PersonalWidget");}
                    @*End Widget*@
                    <!-- Widget -->
                    @{Html.RenderPartial("JourneyWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderPartial("DestinationWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("AddPhotoWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("CommentWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderAction("ShareWidget");}
                    <!-- //End Widget -->
                    <!-- Widget -->
                    @{Html.RenderPartial("WidePictureWidget");}
                    <!-- //End Widget -->
                </div>
                <div class="innerAll inner-2x loading text-center text-medium" id="loadingDiv"><i class="fa fa-fw fa-spinner fa-spin"></i> Loading</div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCENqxOk_1aIxTllx-AMHYsaCRdoNQ8fJU">
    </script>
    <script type="text/javascript">
        var BlockNumber = 2;  //Infinate Scroll starts from second block
        var NoMoreData = false;
        var inProgress = false;

        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
            $(window).height() && !NoMoreData && !inProgress) {

                inProgress = true;
                $("#loadingDiv").show();

                $.post("@Url.Action("InfiniteScroll",
            "Newsfeed")", { "BlockNumber": BlockNumber },
                        function (data) {

                            BlockNumber = BlockNumber + 1;
                            NoMoreData = data.NoMoreData;
                            $(".gridalicious-row").gridalicious('append', $.parseHTML(data.HTMLString));
                            $("#loadingDiv").hide();
                            inProgress = false;
                        });
            }
        });


        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(-34.397, 150.644),
                zoom: 10,
                disableDefaultUI: true               
            };
            var map = new google.maps.Map($("#google-map-json")[0],
                mapOptions);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        //$('#google-map-json').gmap({
        //    'zoomControl': true,
        //    'zoomControlOpt': {
        //        'style': 'SMALL',
        //        'position': 'TOP_LEFT'
        //    },
        //    'panControl': false,
        //    'streetViewControl': false,
        //    'mapTypeControl': false,
        //    'overviewMapControl': false,
        //    'scrollwheel': false,
        //    'mapTypeId': google.maps.MapTypeId.ROADMAP
        //}).bind('init', function () {
        //    $.getJSON(componentsPath + '../plugins/maps_google/jquery-ui-map/data/demo.json', function (data) {
        //        $.each(data.markers, function (i, marker) {
        //            $('#google-map-json').gmap('addMarker', {
        //                'position': new google.maps.LatLng(marker.latitude, marker.longitude)
        //            }).click(function () {
        //                $('#google-map-json').gmap('openInfoWindow', { 'content': marker.content }, this);
        //            });
        //        });
        //        $('#google-map-json').gmap('option', 'center', new google.maps.LatLng(data.markers[1].latitude, data.markers[1].longitude));
        //        $('#google-map-json').gmap('option', 'zoom', 16);
        //    });
        //});
    </script>
}