
<div class="widget gridalicious-item not-responsive ">
    <!-- Info -->
    <div class="bg-gray  border-bottom innerAll">
        <a href="#" class="pull-right innerT text-primary">
            <i class="icon-reply-all-fill fa fa-2x "></i>
        </a>
        <a href="" class="lead strong display-block margin-none">Upcoming Party in "Location" </a>
        <span>added on 15th January, 2014</span>
    </div>
    <!-- Content -->
    <div class="innerAll">
        <p class="lead ">Important text goes in this line!</p>
        <div class="innerB">
            <a href=""><img src="../assets/images/social/100/1.jpg" alt="" class="img-post display-block-inline" /></a>
            <a href=""><img src="../assets/images/social/100/2.jpg" alt="" class="img-post display-block-inline" /></a>
            <a href=""><img src="../assets/images/social/100/3.jpg" alt="" class="img-post display-block-inline" /></a>
        </div>
    </div>
    <div class="innerAll border-top">
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, impedit minus non commodi facere doloribus nemo ea voluptate nesciunt deleniti.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, iste omnis fugiat porro consequuntur ratione iure error reprehenderit cum est ab similique magnam molestias aperiam voluptatibus quia aliquid! Sed, minima, totam, omnis delectus autem placeat quod velit sapiente odit error numquam neque atque quae facere laborum. Non, suscipit obcaecati nobis.</p>
        <blockquote class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, delectus!</blockquote>

    </div>
    <!-- Comment -->
    <div class="bg-gray innerAll border-top border-bottom text-small ">
        <span>View all <a href="" class="text-primary">2 Comments</a></span>
    </div>

    <!-- First Comment -->
    <div class="media border-bottom margin-none bg-gray">
        <a href="" class="pull-left innerAll half">
            <img src="../assets//images/people/50/2.jpg" width="50" class="media-object">
        </a>
        <div class="media-body innerTB">
            <a href="#" class="pull-right innerT innerR text-muted">
                <i class="icon-reply-all-fill fa fa-2x "></i>
            </a>
            <a href="" class="strong text-inverse">Adrian Demian</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a href="" class="text-small">mark it</a>
            <div style="overflow-wrap:break-word;padding-right:10px">- Happy B-Day!aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>

        </div>
    </div>

    <!-- Second Comment -->
    <div class="media margin-none bg-gray">
        <a href="" class="pull-left innerAll half">
            <img src="../assets//images/people/50/11.jpg" width="50" class="media-object">
        </a>
        <div class="media-body innerTB">
            <a href="#" class="pull-right innerT innerR">
                <i class="icon-reply-all-fill fa fa-2x text-muted "></i>
            </a>
            <a href="" class="strong text-inverse">Jenny Adams</a> 	<small class="text-muted ">wrote on Jan 15th, 2014</small> <a href="" class="text-small">mark it</a>
            <div>- Happy Birthday Hun...</div>
        </div>
    </div>

    <input type="text" class="form-control" placeholder="Comment here...">

</div>