
<div class="widget gridalicious-item not-responsive">
    <img src="../assets/images/photodune-2755655-party-time-s.jpg" alt="" class="img-responsive" />
    <div class="ribbon-wrapper"><div class="ribbon primary"><i class="fa fa-fw fa-star-o "></i><strong>4.8</strong></div></div>

    <div class="innerTB half text-center">
        <div class="rating text-medium text-faded margin-top-none">
            <span class="star"></span>
            <span class="star"></span>
            <span class="star"></span>
            <span class="star active"></span>
            <span class="star"></span>
        </div>
    </div>
    <div class="border-top innerAll">
        <div class="pull-left">
            <span class="text-muted small innerT innerR pull-left">Rated by:</span>
            <img src="../assets/images/people/35/13.jpg" class="img-circle pull-left innerR half">
            <img src="../assets/images/people/35/10.jpg" class="img-circle pull-left innerR half">
            <img src="../assets/images/people/35/18.jpg" class="img-circle pull-left innerR half">
            <img src="../assets/images/people/35/1.jpg" class="img-circle pull-left innerR half">
            <img src="../assets/images/people/35/23.jpg" class="img-circle pull-left innerR half">
        </div>
        <div class="pull-right">
            <span class="text-primary strong lead pull-left innerT innerR half "></span>
            <a href="#"><img src="../assets/images/people/35/13.jpg" class="img-circle pull-right" data-toggle="tooltip" fata-placement="top" data-title="Marie"></a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>