@model IEnumerable<Footprints.ViewModels.CommentViewModel>
@using Footprints.ViewModels

<div class="media margin-none bg-gray">
    @{
        if (Model != null)
        {
            foreach (CommentViewModel comment in Model)
            {
                <a href="" class="pull-left innerAll"><img src="@comment.UserAvatarURL" style="width:50px !important" class="media-object"></a>
                <div class="media-body innerTB">
                    <a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
                    <a href="" class="strong text-inverse">@comment.UserName</a><small class="text-muted display-block ">on @comment.Time</small>
                    <a href="" class="text-small">mark it</a>
                    <div>- @comment.Content</div>
                </div>
            }
        }
    }
</div>

