<div class="widget gridalicious-item not-responsive">
    <div class="widget-body text-center">
        <a href=""><img src="../assets/images/people/250/22.jpg" width="120" alt="" class="img-circle"></a>
        <h2 class="strong margin-none">Trịnh Thành Nhân</h2>
        <div class="innerB">This is a status This is a status This is a status This is a status</div>
        <a href="" class="btn btn-primary text-center btn-block">PRO Account</a>
        <div class="btn-group-vertical btn-block">
            <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
            <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Logout</a>
        </div>
    </div>
</div>
