<div class="widget gridalicious-item not-responsive">

    <div class="media">
        <a href="" class="pull-left"><img src="../assets/images/people/50/3.jpg" width="50" class="media-object"></a>
        <div class="media-body innerTB half">
            <a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
            <a href="" class="strong display-block">Just Mary</a>
            <span>on 15th January, 2014</span>
        </div>
    </div>

    <!-- Content -->
    <a href=""><img src="../assets/images/photodune-2755655-party-time-s.jpg" alt="" class="img-responsive"></a>

    <!-- Comment -->
    <div class="bg-primary innerAll text-small ">
        <span>View all <a href="" class="strong text-white">1 Comment</a></span>
    </div>

    <!-- First Comment -->
    <div class="media margin-none">
        <a href="" class="pull-left innerAll"><img src="../assets/images/people/50/5.jpg" width="50" class="media-object"></a>
        <div class="media-body innerTB">
            <a href="#" class="pull-right innerT innerR text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
            <a href="" class="strong text-inverse">Adrian Demian</a>
            <small class="text-muted display-block ">on Jan 15th, 2014</small>
            <div>- Happy B-Day!</div>
            <a href="" class="text-small">mark it</a>
        </div>
    </div>

    <div class="input-group comment">
        <input type="text" class="form-control" placeholder="Your comment here...">
        <div class="input-group-btn">
            <button type="button" class="btn btn-primary" href="#"><i class="fa fa-comment"></i></button>
        </div>
    </div>
</div>
