@model Footprints.ViewModels.MediaViewModel
@{
    ViewBag.Title = "Media - Add Photos";
    ViewBag.NumberOfPhotos = @Model.NumberOfPhotos;
    ViewBag.NumberOfAlbums = @Model.NumberOfAlbums;
    Layout = "_MediaLayout.cshtml";
}
<!-- Gallery -->
<div class="gallery gallery-2">
    <ul class="row">
        <li class="col-md-3 hidden-phone"><a href="../assets/images/gallery-2/8.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/8.jpg"></a></li>
        <li class="col-md-3 hidden-phone"><a href="../assets/images/gallery-2/7.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/7.jpg"></a></li>
        <li class="col-md-3 hidden-phone"><a href="../assets/images/gallery-2/6.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/6.jpg"></a></li>
        <li class="col-md-3 hidden-phone"><a href="../assets/images/gallery-2/5.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/5.jpg"></a></li>
        <li class="col-md-3 hidden-phone"><a href="../assets/images/gallery-2/4.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/4.jpg"></a></li>
        <li class="col-md-3"><a href="../assets/images/gallery-2/3.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/3.jpg"></a></li>
        <li class="col-md-3"><a href="../assets/images/gallery-2/2.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/2.jpg"></a></li>
        <li class="col-md-3"><a href="../assets/images/gallery-2/1.jpg" data-gallery="gallery-2" class="thumb no-ajaxify"><img class="img-responsive" alt="photo" src="../assets/images/gallery-2/1.jpg"></a></li>
    </ul>
</div>
<!-- // Gallery END -->